/*
 * -------------------------------------------------
 *  Nextflow config file for custom parameter settings
 * -------------------------------------------------
 *   nextflow run umi-pipeline-nf -profile custom
 */

params {

	help = false
	version = false
	debug = false
	
	input = "run00_5104_PLASMID/R9/HAC/fastq_pass/"
	output = "run00_5104_PLASMID/R9/HAC/ont_pl"
	reference = "ref/lpa-ref5104.fasta"
	reference_fai = "ref/lpa-ref5104.fasta.fai"
	bed = "ref/lpa-ref5104.bed"

	output_format = "fastq"	
	filter_strategy_clusters = "quality"
	min_read_length = 5000
	min_qscore = 10
	min_overlap = 0.95
	max_dist_umi = 2
	balance_reads = false
	umi_errors = 3
	min_consensus_quality = 40
	masking_strategy = "softmasking"
	min_reads_per_cluster = 10
	max_reads_per_cluster = 25

	call_variants = true
	variant_caller = "freebayes"

	medaka_model = "r941_min_hac_g507"
}

// NEXTFLOW REPORTING # this defines pipeline metadata	
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
	}
	trace {
		enabled = true
		fields = "task_id, process, tag, status, cpus, time, memory, start, complete, duration, %mem, %cpu, vmem"
		file = "${params.output}/nextflow_stats/trace.txt"
	}
}

