params {

	mutserve_summary_pattern = "summary_mutserve.txt" 
	ngs_data = "./data_ngs/data_ngs/1000g_deep_jlr.txt"
	expected_mutations = "./data_ngs/data_ngs/20221122_plasmid_expected_muts.csv"
	corresponding_positions = "./data_ngs/data_ngs/20221129_corresponding_positions.csv"

	umi_cutoff_R9 = 0.0085
	umi_cutoff_V14 = 0.0085
	merge_umi_result_file = true
	mutserve_dir = false
	all_runs = false

}

// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	overwrite = true 
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	overwrite = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	overwrite = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	overwrite = true
	file = "${params.output}/trace.txt"
}
