/*
 * -------------------------------------------------
 *  Nextflow config file for custom parameter settings
 * -------------------------------------------------
 *   nextflow run umi-pipeline-nf -profile custom
 */

params {

        help = false
        version = false
        debug = false

        output_format = "fastq"
        filter_strategy_clusters = "quality"
        min_overlap = 0.95
        max_dist_umi = 1
	min_qscore = 12
        balance_reads = false
        umi_errors = 3
        min_consensus_quality = 40
        masking_strategy = "softmasking"
        min_reads_per_cluster = 2
        max_reads_per_cluster = 100


	medaka_model = "r1041_e82_400bps_hac_g615"
}

// NEXTFLOW REPORTING # this defines pipeline metadata	
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
	}
	trace {
		enabled = true
		fields = "task_id, process, tag, status, cpus, time, memory, start, complete, duration, %mem, %cpu, vmem"
		file = "${params.output}/nextflow_stats/trace.txt"
	}
}

